deb [arch=amd64,i386] {{ mariadb_mirror_url }}/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release }} main
deb-src {{ mariadb_mirror_url }}/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release }} main
