# The port for Hive server2 daemon to listen to.
# Unfortunatelly, there is no way to specify the interfaces 
# to which the daemon binds.
#
#PORT=
export HADOOP_MAPRED_HOME=/usr/lib/hadoop-mapreduce
