[mysql{{ mysql_major_version }}{{ mysql_subversion }}-community]
name=MySQL {{ mysql_version }} Community Server
baseurl=http://repo.mysql.com/yum/mysql-{{ mysql_version }}-community/el/{{ ansible_distribution_major_version }}/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-mysql
