deb [arch=amd64] http://archive.cloudera.com/cdh5/ubuntu/{{ ansible_distribution_release }}/amd64/cdh {{ ansible_distribution_release }}-cdh5.{{ cdh_subversion }}.{{ cdh_subsubversion }} contrib
deb-src http://archive.cloudera.com/cdh5/ubuntu/{{ ansible_distribution_release }}/amd64/cdh {{ ansible_distribution_release }}-cdh5.{{ cdh_subversion }}.{{ cdh_subsubversion }} contrib
