[cloudera-cdh5]
name=Cloudera's Distribution for Hadoop, Version 5
baseurl=https://archive.cloudera.com/cdh5/redhat/{{ ansible_distribution_major_version }}/x86_64/cdh/5.{{ cdh_subversion }}.{{ cdh_subsubversion }}/
gpgkey =https://archive.cloudera.com/cdh5/redhat/{{ ansible_distribution_major_version }}/x86_64/cdh/RPM-GPG-KEY-cloudera
gpgcheck = 1
